.container-1{
    position: relative;
}
.navigation{
    position: absolute;
    z-index: 9999;
    font-family: "Arial";
    background-color: white;
    overflow: hidden;
    position: fixed;
    width: 100%;
    left: 0px;
    top: 0px;
}
.navigation a{
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}
.navigation a:hover{
    background-color: grey;
    color: black;
}
.navigation a.active{
    background-color: red;
}
.navigation img.logo{
    height: 90%;
    float: right;
    width: 178px;
    padding-right: 5px;
}
.under_bar{
    position: fixed;
    font-family: "Arial";
    font-size: 11px;
    font-weight: bold;
    bottom: 0px;
    text-align: center;
    background-color: black;
    color: white;
    left: 0px;
    width: 100%;
    line-height: 0px;
    z-index: 9999;
}
.container-1{
    padding-top: 16px;
    font-family: "Arial";
    .col-6{
        font-family: "Arial Black";
        font-size: 14px;
        text-align: center;
    }
}
.container-2{
    font-family: "Arial";
    font-size: 14px;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
    .about_me{
        text-align: justify;
    }
    .prog_gif{
        float: right;
        width: 300px;
        margin: 7px 0 7px 20px;
    }
    .gif2{
        width: 50%;
    }
}
.contact{
    position: absolute;
    background: white;
    width: 100%;
    left: 0px;
    padding-bottom: 20px;
    line-height: 0.5;
    .data{
        font-size: 14px;
        float: right;
        padding-right: 5px;
    }
}
.button_js{
    text-align: center;
}
#myButton{
    border: none;
    border-radius: 15px;
    width: 120px;
    height: 40px;
    color: white;
    background-color: red;
}
#demo img{
    margin-top: 20px;
    width: 25%;
}